[buildout]
extends = https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.x.cfg
package-name = eea.facetednavigation
develop = ../../
also-develop =
  eea.faceted.vocabularies
  eea.jquery
